body {
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
	width: 960pt;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	background-color: lightgray;
	color: #777777;
}

Header {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	text-align: right;
	text-decoration: none;
	background-color: #ffffff;
	padding: 20pt;
	padding-right: 120pt;
	border-color: #cccccc;
	border-style: solid;
	border-width: 1pt;
	color: #777777;
	word-spacing: 10pt;
}

.HeaderName {
	position: absolute;
	top: 0pt;
	left: 20pt;
	float: left;
	padding: 17.5pt;
	margin-left: 15pt;
	color: white;
	background-color:#4aaaa5;
	font-weight:bold;
	font-size: 19pt;
	word-spacing: 0pt;
}

a.link{
	color: #777777;
}

a:visited{
	color: #777777;
}

a:hover{
	text-decoration: underline;
}

a {
	text-decoration: none;
}

section{
	border: 1pt solid #cccccc;
}

#Image {
	float: left;
	margin-left: 20pt;
	margin-top: 20pt;
	margin-right: 20pt;
}

h2 { 
	color:#4aaaa5;
	padding-top: 20pt; 
	padding-bottom: 20pt;
	font-size: 23pt;
	border-bottom: 1.5pt solid lightgray;
	margin-left: 20pt; 
	margin-right: 20pt;
	font-weight: bold;
}

h3 { 
	color:#4aaaa5; 
	padding-bottom: 20pt;
	font-size: 17pt;
	font-weight: bold;
	border-bottom: 1pt solid lightgray;
	margin-right: 10pt;
	margin-bottom: 15pt;
}

p {
	padding: 20pt;
	padding-top: 15pt;
	line-height: 1.75;	
}

#Section1 {
	float: left;
	width: 60%;
	background-color: #ffffff;
	margin-top: 20pt;
	margin-left: 30pt;
	margin-bottom: 70pt;
}


#Section2 {
	float:left;
	width: 19%;
	background-color: #ffffff;
	margin-top: 20pt;
	margin-left: 20pt;
	justify-content: center;
	padding: 20pt;
}

.icon {
	height: 52pt;
	width: 52pt;
	margin: 2pt;
}


.clear {
	clear: both;
}

footer {
	background-color: #666666;
	border-style: solid;
	border-color: #4aaaa5;
	border-top-width: 10pt;
	padding: 20pt;
	text-align: center;
	margin-top: 20pt;
	color: lightgray;
	position: fixed;
	bottom: 0pt;
	width: 100%;
}

/*Media Queries are in form.css*/